@model HighVelocityPaymentsLibrary.Model.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Employee Id: @Model.Id</h2>
<h2>Employee Name: @Model.Name</h2>
<h2>Employee Number of Dependents: @Model.NumberOfDependents</h2>
